@import url("https://fonts.googleapis.com/css2?family=Pretendard:wght@400;600;700&display=swap");

body {
  font-family: "Pretendard", sans-serif;
  background-color: #f2f5f8;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.marker-btn {
  transition: all 0.2s ease-in-out;
}

.marker-btn:hover {
  transform: scale(1.1);
  z-index: 20;
}

.custom-marker:hover {
  transform: scale(1.1);
  z-index: 1000 !important;
}

.bg-blue {
  background-color: #2563eb;
}
.bg-green {
  background-color: #00d084;
}
.bg-orange {
  background-color: #ffb300;
}
.bg-gray {
  background-color: #adb5bd;
}

@keyframes markerAppear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.custom-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.marker-label {
  position: relative;
  padding: 12px 20px;
  border-radius: 12px;
  min-width: 80px;
  color: white;
  font-size: 11px;
  font-weight: 800;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: markerAppear 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.marker-label:after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 9px 7px 0 7px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.custom-marker:hover {
  transform: translateY(-5px) scale(1.05);
  z-index: 1000 !important;
}

#prop-img {
  height: 140px !important;
  object-fit: cover;
}

#report-panel .p-4 {
  padding: 0.75rem !important;
}

#prop-name {
  font-size: 1.125rem !important;
  line-height: 1.25;
}

#prop-price {
  font-size: 1rem !important;
  margin-top: 2px;
}

#report-panel .space-y-6 > * {
  margin-top: 1rem !important;
}

#prop-tip {
  font-size: 10px !important;
  line-height: 1.4;
}

#asset-input:hover,
#income-input:hover,
#interest-input:hover {
  border-color: #cbd5e1 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#asset-input,
#income-input,
#interest-input {
  color: #738092 !important;
  font-weight: 500;
}

#asset-input:focus,
#income-input:focus,
#interest-input:focus {
  color: #1e293b !important;
  font-weight: 700;
}

.input-unit {
  color: #cbd5e1;
  transition: color 0.2s;
}
